input {
  color: green;
  border: 2px solid blue;
  padding-left: 10px;
  padding-right: 10px;
  float: right;
  width: 100%;
  border-radius: 4px;
  height: 2em;
  display: table;
}
button {
  padding-left: 10px;
  padding-right: 10px;
  height: 2em;
  color: green;
}
.flex {
  display: flex;
}
input:hover {
  color: red;
}
button:hover {
  color: red;
}
