h1{
    text-align: center;
}
.wrapper {
    border: black solid 2px;
    padding: 10px;
    display: grid;
    border-radius: 5px;
    /* grid-template-rows: 400px 400px 800px; */
    grid-row-gap:5px;

}
@media only screen and (max-width: 640px) {
  .wrapper {
      
      border: red solid 2px;
  }
}
@media only screen and (min-width: 640px) {
  .wrapper {
    border: yellow solid 2px;
  }
}
@media only screen and (min-width: 1366px) {
  .wrapper {
    border: green solid 2px;
    
  }
}
