body {
  padding: 0px;
  margin: 0px;
  color: #cfd0d0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 400;
  background-color: white;
  transition: all 0.3s ease-in-out;
}
h1 {
  text-align: center;
  color: #3f4852;
  font-family: none;
}
.main {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.container {
  position: relative;
  background-color: #3d4550;
  width: 600px;
  height: 400px;
}
.block {
  background-color: #46515e;
  border: 1px solid #676b70;
  height: calc(100% - 51px);
  width: auto;
  margin: 25px 70px 0px 10px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-flow: column;
}
.content {
  position: relative;
  margin: 0px 20px 0px 20px;
}
.typeface {
  grid-row: 1/3;
  margin: 40px 0px 0px 20px;
}
.weight {
  grid-row: 4/5;
}
.size {
  grid-row: 5/6;
}
.toggle {
  grid-column: 2;
  grid-row: 2/2;
  margin-top: 15px;
}
.color {
  grid-column: 2;
  grid-row: 4/5;
}
.side {
  position: absolute;
  background-color: #2e3740;
  top: 25%;
  left: 530px;
  padding: 10px 10px 10px 5px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.side .image img {
  height: 25px;
  padding: 10px;
  cursor: pointer;
}
.dropdown {
  position: absolute;
  margin: 15px 0px;
}
.dropdown select {
  background-color: #2b343b;
  color: #cfd0d0;
  width: 200px;
  height: 30px;
  padding: 0px 5px 0px 5px;
  outline: none;
  cursor: pointer;
  appearance: none;
}
.arrow {
  position: absolute;
  border: solid #cfd0d0;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px 4px;
  transform: rotate(45deg);
  right: 15px;
  top: 7.5px;
}
.dropdown select:focus {
  border-color: #2c6ed8;
  border-radius: 1px;
  box-shadow: 0px 0px 2px 1px #2c6ed8;
}
.content .checkboxes {
  position: relative;
  padding: 10px 0px;
  font-family: "Times New Roman", Times, serif;
  width: 100%;
}
.content .checkboxes input {
  margin: 0px;
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.content .checkboxes label {
  margin: 0px 10px 0px 0px;
}
.content .checkboxes input + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.content .checkboxes input + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #cfd0d0;
  margin-right: 1em;
  background-color: #2b343b;
  cursor: pointer;
  padding: 1px;
  justify-content: center;
}
.content .checkboxes input:checked + label::after {
  position: absolute;
  content: "\2713";
  padding-left: 0.25em;
  color: #60bba6;
  cursor: pointer;
}
.content .checkboxes input:not(:disabled):active + label:hover::before {
  border-color: #60bba6;
}

.size input {
  appearance: none;
  height: 2px;
  width: 180px;
  background-color: #2b343b;
  border-radius: 1px;
  cursor: pointer;
  margin: 30px 0px;
}
.size label {
  position: absolute;
  top: 70px;
  right: 35px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  color: white;
}
.size input::before {
  font-family: "Times New Roman", Times, serif;
  color: white;
  position: absolute;
  content: "A";
  font-size: 13px;
  top: 70px;
}
.size input::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #60bba6;
  border-radius: 10px;
}
.size input:focus {
  outline: none;
}
.toggle input {
  appearance: none;
  outline: none;
  height: 30px;
  width: 55px;
  border-radius: 16px;
  position: absolute;
  background-color: #2e3740;
  right: 0px;
  transition: all 0.2s ease;
  cursor: pointer;
}
.toggle input:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #60bba6;
  transition: all 0.2s ease;
}
.toggle input:checked {
  background-color: #4696ed;
}
.toggle input:checked::after {
  transform: translatex(24px);
}

.toggle label {
  top: 8px;
  position: absolute;
}
.color-box {
  margin: 10px 0px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.color-box .color-scheme {
  height: 25px;
  width: 25px;
  border: 1px solid #676b70;
  border-radius: 50%;
  position: relative;
  appearance: none;
  outline: none;
  cursor: pointer;
  margin: 0px;
  user-select: none;
}
.color-box .color-scheme::before {
  position: absolute;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  content: "\2713";
  color: white;
  left: 0.5em;
  top: 0.25em;
  transition: all 0.2s ease;
  opacity: 0;
}
.color-box .color-scheme:checked::before {
  opacity: 1;
}
.blue {
  background-color: #4875bb;
}
.cyan {
  background-color: #60bba6;
}
.pink {
  background-color: #cf62cb;
}
.yellow {
  background-color: #ddd968;
}
.orange {
  background-color: #d2815e;
}
